<center>
  <h1>Text Pair!!!</h1>


  <code contenteditable="true">
    <div id='content' style='height:500px;width:1500px;background-color:grey;color:white;overflow-y:scroll'>
      <span>this</span><span>is a</span><span>TEST</span>
    </div>
  </code>
</center>
<span id='status'></span>

<script>


</script>
