<center>
  <h1>Text Pair!!!</h1>


  <code contenteditable="true">
    <div id='content' style='height:500px;width:1500px;background-color:grey;color:white;overflow-y:scroll'>
      <span style="color: blue">var this and that</span><span>foo = some value</span><span style="color: green">"fly-barless"</span><span>what is up;</span>
    </div>
  </code>
</center>
<span id='status'></span>

<script>


</script>
